*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

body section{
    padding: 60px 60px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 2rem;
    padding: 40px 60px;
}

.logo{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Battambang', cursive;
    color: #131313;
    position: relative;
}

a {
    text-decoration: none;
}

nav ul{
    display: flex;
    gap: 40px;
}

nav li {
    list-style-type: none;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    transition: 0.5s;
}

nav li:hover{
    border-bottom: 2px solid grey;
}

nav a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #606060;
}

.intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0px;
    align-items: center;
    color: #292828;
}

.intro-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    grid-column: 1 / 2;
}

.intro-text h1{
    font-family: 'Battambang', cursive;
    font-size: 4rem;
    line-height: 1;
}

.intro-text h1 > strong{
    color: #6C63FF;
}

.intro-text p{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.intro-text button{
    padding: 1rem;
    width: 220px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.203);
    color: #14125b;
    background-color: #6C63FF;
    border: none;
    border-radius: 8px;
}

.intro-text button:hover{
    background-color: #1f198e;
    color: #b2b1ff;
    transition: 0.5s;
    cursor: pointer;
}

.experience{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.experience-title h2{
    font-size: 8rem;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: rgb(217, 217, 217);
    word-break: break-all;
    width: 4ch;
    line-height: 1;
    margin-bottom: 2rem;
}

.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Poppins';
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.203);
}

.card:nth-child(1):hover{
    background-color: #0E0E0E;
    padding: 20px;
    transition: 0.5s;
}

.card:nth-child(2):hover{
    background-color: #191816;
    transition: 0.5s;
    padding: 20px;
}

.card:nth-child(3):hover{
    background-color: #ECECEC;
    transition: 0.5s;
    padding: 20px;
}

.card:nth-child(4):hover{
    background-color: #290742;
    transition: 0.5s;
    padding: 20px;
}

.card h3{
    color: #6C63FF;
}

.card img{
    object-fit: cover;
    max-width: 100%;
    border-radius: 4px;
    height: 100%;
}

.formacao{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.formacao-title h2{
    font-size: 8rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
    color: rgb(217, 217, 217);
}

.formacao-cursos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.curso{
    background-color: #9d98ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
}

.curso:hover{
    background-color: #7d77e4;
}

.curso > .grau{
    font-weight: bolder;
    color: white;
}

.curso > .nome{
    font-size: 1.5rem;
}

.curso > .instituicao{
    font-weight: bolder;
    color: rgb(57, 57, 57);
}

.tecno{
    background-color: blue;
    padding: 5px;
    padding: 5px;
    border-radius: 8px;
    width: 100px;
    text-align: center;
}

.intensivo{
    background-color: purple;
    padding: 5px;
    padding: 5px;
    border-radius: 8px;
    width: 80px;
    text-align: center;
}

.idioma{
    background-color: blueviolet;
    padding: 5px;
    border-radius: 8px;
    width: 80px;
    text-align: center;
}

footer{
    background-color: #131313;
    color: white;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

footer p, h1, h2{
    font-family: 'Poppins',sans-serif;
}

.footer-title{
    border-bottom: 1px solid #1E1D1D;
    border-right: 1px solid #1E1D1D;
    padding: 55px;
}

.footer-title > h1{
    font-weight: 400;
    max-width: 17ch;
    font-size: 2.5rem;
    line-height: 1;
}

.footer-title > h1 > strong{
    color: #9791F4;
}

.footer-contact{
    padding: 55px 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    border-bottom: 1px solid #1E1D1D;
}

.contato{
    white-space: nowrap;
}

.contato h2{
    font-size: 2rem;
    display: inline-block;
}

.contato:nth-child(1) h2::before{
    content: url(img/email.svg);
    margin-right: 8px;
}

.contato:nth-child(2) h2::before{
    content: url(img/Phone.svg);
    margin-right: 8px;
}

.contato p{
    font-size: 1.25rem;
    color: #C9C9C9;
}

.credits{
    padding: 2rem 55px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / 3;
}

.credits p{
    font-size: 1.25rem;
}

.credits strong{
    font-size: 1.5rem;
}

.social{
    display: flex;
    gap: 50px;
}

@media (max-width: 900px){
    .formacao-cursos{
        grid-template-columns: 1fr 1fr;
    }

    .formacao-title h2{
        text-align: center;
        font-size: 6rem;
    }

    footer{
        grid-template-columns: 1fr;
    }

    .footer-title{
        display: flex;
        justify-content: center;
    }

    .credits{
        grid-column: 1 / 2;
    }

}

@media (max-width: 850px){
    header{
        flex-direction: column;
    }
    
    .credits{
        flex-direction: column;
        row-gap: 40px;
    }

    .experience{
        grid-template-columns: 1fr;
    }

    .experience-title{
        text-align: center;
        margin-bottom: 20px;
    }

    .experience-title h2{
        width: auto;
        font-size: 4rem;
    }

    .intro-img{
        display: none;
    }

    .intro{
        grid-template-columns: 1fr;
    }

    .intro-text{
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 650px){
    .formacao-title h2{
        font-size: 4rem;
    }
}

@media (max-width: 570px){
    .intro-text h1{
        font-size: 2rem;
    }

    .intro-text p{
        font-size: 1rem;
    }

    .intro-text button{
        width: 150px;
        font-size: 1rem;
    }

    .experience-title h2{
        font-size: 3rem;
    }

    .curso > .nome{
        font-size: 1rem; 
    }   
    
    .footer-title{
        padding: 55px 1rem;
    }
    .footer-title h1{
        font-size: 1.5rem;
    }
    .footer-contact{
        padding: 1rem;
        gap: 24px;
    }

    .footer-contact h2{
        font-size: 1rem;
    }

    .footer-contact p{
        font-size: 1rem;
    }

    .contato h2::before{
        display: none;
    }

    .credits{
        padding: 1rem;
    }

    .rights p{
        font-size: 0.75rem;
    }

    .rights strong{
        font-size: 1rem;
    }
}

@media (max-width: 450px){
    body section{
        padding: 20px 20px;
    }
    .logo{
        font-size: 1.75rem;
    }
    
    header{
        padding: 20px 20px;
    }
    header a{
        font-size: 1rem;
    }

    nav ul{
        gap: 20px;
    }
    
    .cards-container{
        grid-template-columns: 1fr;
    }

    .experience-title h2{
        padding: 40px 0px;
    }

    .formacao-title h2{
        font-size: 3rem;
    }

    .formacao-cursos{
        grid-template-columns: 1fr;
    }

}

@media (max-width: 400px){
    .experience-title h2{
        font-size: 2.5rem;
    }
    .footer-contact{
        flex-direction: column;
    }

    .contato{
        text-align: center;
    }
}






