*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

.logo{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Battambang', cursive;
    color: #131313;
    position: relative;
}

a {
    text-decoration: none;
}

nav ul{
    display: flex;
    gap: 40px;
}

nav li {
    list-style-type: none;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    transition: 0.5s;
}

nav li:hover{
    border-bottom: 2px solid grey;
}

nav a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    color: #606060;
}

.intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 60px;
    padding-top: 0px;
    align-items: center;
    color: #292828;
}

.intro-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    grid-column: 1 / 2;
}

.intro-text h1{
    font-family: 'Battambang', cursive;
    font-size: 4rem;
    line-height: 1;
}

.intro-text h1 > strong{
    color: #6C63FF;
}

.intro-text p{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.intro-text button{
    padding: 1rem;
    width: 220px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.203);
    color: #14125b;
    background-color: #6C63FF;
    border: none;
    border-radius: 8px;
}

.intro-text button:hover{
    background-color: #1f198e;
    color: #b2b1ff;
    transition: 0.5s;
    cursor: pointer;
}

.experience{
    padding: 60px 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: black;
}

.experience-title h2{
    font-size: 8rem;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: rgb(218, 218, 218);
    word-break: break-all;
    width: 4ch;
    line-height: 1;
}

.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Poppins';
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.203);
}

.card:nth-child(1):hover{
    background-color: #0E0E0E;
    padding: 20px;
    transition: 0.5s;
}

.card:nth-child(2):hover{
    background-color: #191816;
    transition: 0.5s;
    padding: 20px;
}

.card:nth-child(3):hover{
    background-color: #ECECEC;
    transition: 0.5s;
    padding: 20px;
}

.card:nth-child(4):hover{
    background-color: #290742;
    transition: 0.5s;
    padding: 20px;
}

.card h3{
    color: #6C63FF;
}

.card img{
    object-fit: cover;
    max-width: 100%;
    border-radius: 4px;
    height: 100%;
}

.formacao{
    padding: 40px 60px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.formacao-title h2{
    font-size: 8rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
    color: rgb(65, 65, 65);
}

.formacao-cursos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.curso{
    background-color: #9d98ff;
    padding: 20px;
    display: flex;
    min-width: 250px;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
}

.curso:hover{
    background-color: #7d77e4;
}

.curso > .grau{
    font-weight: bolder;
    color: white;
}

.curso > .nome{
    font-size: 1.5rem;
}

.curso > .instituicao{
    font-weight: bolder;
    color: rgb(57, 57, 57);
}

.tecno{
    background-color: blue;
    padding: 5px;
    padding: 5px;
    border-radius: 8px;
    width: 100px;
    text-align: center;
}

.intensivo{
    background-color: purple;
    padding: 5px;
    padding: 5px;
    border-radius: 8px;
    width: 80px;
    text-align: center;
}

.idioma{
    background-color: blueviolet;
    padding: 5px;
    border-radius: 8px;
    width: 80px;
    text-align: center;
}






